@use 'sass:map'; 
@use '@angular/material' as mat;
@use '/workspaces/angular_cripto_tracker/src/_theme-colors.scss' as theme; 
@include mat.core();


mat-card-content{
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.select-coin{
  background-color: map.get(theme.$primary-palette, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 10% 5% 10%;
  border-radius: 20px;
  min-width: 750px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

.select-coin mat-card-title {
  text-align: center;
  font-style: bold;
  font-size: 40px;
  color: map.get(theme.$primary-palette, 80);
  font-weight: 500;
  width: 100%;
  margin: 5% auto;
}

.coin-icon{
  width: 50px;
  height: auto;
  object-fit: cover;
  padding: 5%;
}

.coin-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-card{
  background-color: map.get(theme.$primary-palette, 20);
  display: flex;
  align-items: left;
  border-radius: 20px;
  padding: 1%;
  margin: 5%;
  cursor: pointer;
}

.value{
  padding-bottom: 20px;
  margin-left: 12%;
  gap:10px;
}

.coin-header{
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 10px;
  gap: 10px;
}

.coin-info{
  color: map.get(theme.$primary-palette, 80);
}

.coin-symbol{
  font-size: 12px;
  color: map.get(theme.$primary-palette, 50);
}

.coin-info p,
.value p {
  margin: 0;
}

.value{
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  color: map.get(theme.$primary-palette, 80);
}

.percentage{
  font-size: 16px;
  font-style: italic;
}

.profit{
  color: #4caf50;
}

.loss{
  color: #f44336;
}