<div class="steps">
  <div class="step-card">
    <mat-card-content class="step">
      <div class="stepCircle">1</div><span>Escolha sua Criptomoeda</span>
    </mat-card-content>
    <div class="divider"></div>
    <mat-card-content class="step">
      <div class="stepCircle">2</div><span>Valor da Compra</span>
    </mat-card-content>
    <div class="divider"></div>
    <mat-card-content class="step">
      <div class="stepCircle">3</div><span>Data da Transição</span>
    </mat-card-content>
    <div class="divider"></div>
    <mat-card-content class="step">
      <div class="stepCircle">4</div><span>Resultados</span>
    </mat-card-content>
  </div>
</div>
<mat-card class="select-coin">
  <mat-card-content>
    <mat-card-title>Selecione a Criptomoeda</mat-card-title>
    <div class="coin-bar">
      <ng-container *ngFor="let inv of investments">
        <mat-card *ngIf="inv.cryptoId === 'bitcoin'" class="coin-card" [routerLink]="['/purchase', inv.cryptoId]">
          <mat-card-content class="coin-header">
            <img src="assets/bitcoin.png" alt="Bitcoin" class="coin-icon" />
            <div class="coin-info">
              <p class="coin-name">{{ inv.cryptoId | titlecase }}</p>
              <p class="coin-symbol">{{ inv.cryptoSymbol }}</p>
            </div>
          </mat-card-content>
          <div class="value" >
            <p>R$ {{ inv.currentPrice | number:'1.0-0' }}</p>
            <p class="percentage" *ngIf="inv.priceChangePercentage24h !== undefined"  [ngClass]="{'profit': inv.priceChangePercentage24h >= 0, 'loss': inv.priceChangePercentage24h < 0}">{{ inv.priceChangePercentage24h | number:'1.2-2' }}%</p>
          </div>
        </mat-card>

        <mat-card *ngIf="inv.cryptoId === 'ethereum'" class="coin-card" [routerLink]="['/purchase', inv.cryptoId]">
          <mat-card-content class="coin-header">
            <img src="assets/ethereum.png" alt="Ethereum" class="coin-icon" />
            <div class="coin-info">
              <p class="coin-name">{{ inv.cryptoId | titlecase }}</p>
              <p class="coin-symbol">{{ inv.cryptoSymbol }}</p>
            </div>
          </mat-card-content>
          <div class="value" >
            <p>R$ {{ inv.currentPrice | number:'1.0-0' }}</p>
            <p class="percentage" *ngIf="inv.priceChangePercentage24h !== undefined"  [ngClass]="{'profit': inv.priceChangePercentage24h >= 0, 'loss': inv.priceChangePercentage24h < 0}">{{ inv.priceChangePercentage24h | number:'1.2-2' }}%</p>
          </div>
        </mat-card>

        <mat-card *ngIf="inv.cryptoId === 'solana'" class="coin-card" [routerLink]="['/purchase', inv.cryptoId]">
          <mat-card-content class="coin-header">
            <img src="assets/solana.png" alt="Solana" class="coin-icon" />
            <div class="coin-info">
              <p class="coin-name">{{ inv.cryptoId | titlecase }}</p>
              <p class="coin-symbol">{{ inv.cryptoSymbol }}</p>
            </div>
          </mat-card-content>
          <div class="value" >
            <p>R$ {{ inv.currentPrice | number:'1.0-0' }}</p>
            <p class="percentage" *ngIf="inv.priceChangePercentage24h !== undefined"  [ngClass]="{'profit': inv.priceChangePercentage24h >= 0, 'loss': inv.priceChangePercentage24h < 0}">{{ inv.priceChangePercentage24h | number:'1.2-2' }}%</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>