@use 'sass:map'; 
@use '@angular/material' as mat;
@use '/workspaces/angular_cripto_tracker/src/_theme-colors.scss' as theme; 
@include mat.core();

.logo {
  height: 200px;
  position: flex;
  margin-left: -50px;
  margin-top: 10px;
}

.toolbar-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon{
  margin-left: -20px;
  height: 50px;
}


.login {
  border-radius: 10px;
  color: map.get(theme.$primary-palette, 80) !important;
  &:hover {
    background-color: map.get(theme.$primary-palette, 80);
    color: map.get(theme.$primary-palette, 20) !important;
  }
}

mat-toolbar {
  background-color: map.get(theme.$primary-palette, 80);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  height: 100px;
  width: 320px;
}

