@use 'sass:map'; 
@use '@angular/material' as mat;
@use '/workspaces/angular_cripto_tracker/src/_theme-colors.scss' as theme; 
@include mat.core();

mat-card-content{
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.step-card{
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.step{
  color: map.get(theme.$primary-palette, 80);
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top:0px !important;
  padding-bottom:0px !important;
  padding: 0px !important;
}

.stepCircle{
  background-color: map.get(theme.$secondary-palette, 20);
  color: map.get(theme.$primary-palette, 80);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #555;
}

.purchase-value{
  background-color: map.get(theme.$secondary-palette, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 10% 5% 10%;
  border-radius: 20px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

.purchase-value mat-card-title {
  text-align: center;
  font-style: bold;
  font-size: 40px;
  color: map.get(theme.$primary-palette, 80);
  font-weight: 500;
  width: 100%;
  margin: 5%;
  min-width: 700px;
}

.value-input {
  text-align: left;
  font-style: normal;
  font-size: 15px;
  color: map.get(theme.$primary-palette, 80);
  font-weight: 0;
  width: 100%;
  margin: 5%;
  min-width: 700px;
}

.value-label {
  margin-bottom: 2px;
}

.custom-form-field {
  min-width: 700px;
  min-height: 50px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-color: map.get(theme.$secondary-palette, 20);
  color: map.get(theme.$primary-palette, 80);
}



.value-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}