@use 'sass:map'; 
@use '@angular/material' as mat;
@use '/workspaces/angular_cripto_tracker/src/_theme-colors.scss' as theme; 
@include mat.core();

mat-card-content{
  padding-top:0px !important;
  padding-bottom:0px !important;
}


.purchase-date{
  background-color: map.get(theme.$primary-palette, 10);
  display: flex;
  padding: 1% 10% 5% 10%;
  border-radius: 20px;
  min-width: 750px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

.purchase-date mat-card-title {
  text-align: center;
  font-style: bold;
  font-size: 40px;
  color: map.get(theme.$primary-palette, 80);
  font-weight: 500;
  width: 100%;
  margin: 5% auto;
}

.date-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-label{
  margin-top: 0px;
  margin-bottom: 2px;
}

.date-input{
  text-align: left;
  font-style: normal;
  font-size: 15px;
  color: map.get(theme.$primary-palette, 80);
  font-weight: 0;
  width: 100%;
  margin: 10px;
  min-width: 700px;
}

.date-form-field{
  min-width: 700px;
  min-height: 50px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: map.get(theme.$primary-palette, 20);
  color: map.get(theme.$primary-palette, 80);
}

.button-addValue{
  background-color: map.get(theme.$primary-palette, 20);
  color: map.get(theme.$primary-palette, 80);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 70px;
  max-height: 40px;
  &:hover {
    background-color: map.get(theme.$secondary-palette, 80);
    color: map.get(theme.$primary-palette, 20);
  }
}

.buttons{
  justify-content: center;
  margin: 10px;
}

.continue-button{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  background-color: map.get(theme.$secondary-palette, 50);
  color: map.get(theme.$secondary-palette, 100);
  border-radius: 10px;
  margin-top: 10px;
  min-width: 700px;
  text-align: center;
  &:hover {
    background-color: darken(map.get(theme.$secondary-palette, 50),10%);
    color: darken(map.get(theme.$secondary-palette, 100),10%);
  }
}

.date-form-field .mat-mdc-input-element {
  padding-left: 10px;
  display: flex;
  align-items: center;
}