@use 'sass:map'; 
@use '@angular/material' as mat;
@use './_theme-colors' as theme;
@include mat.core();

html {
  color-scheme: dark;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  color-scheme: light dark;
  color: map.get(theme.$primary-palette, 100);
  font: var(--mat-sys-body-medium);
}

.custom-form-field .mat-mdc-form-field-infix{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


mat-card.investment-card {
  background-color: map.get(theme.$primary-palette, 40);
  color: map.get(theme.$primary-palette, 100);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

// Error card
mat-card.error-card {
  background-color: map.get(map.get(theme.$primary-palette, error), 25);
  color: map.get(theme.$primary-palette, 100);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

// Optional: dividers and list items inside cards
mat-card .mat-divider {
  background-color: rgba(255, 255, 255, 0.2);
}

mat-card mat-list-item {
  color: inherit;
}

mat-card mat-list-item.profit {
  color: #4caf50;
}

mat-card mat-list-item.loss {
  color: #f44336;
}


:root {
  @include mat.datepicker-overrides((
    calendar-body-label-text-color: map.get(theme.$primary-palette, 80),
    calendar-container-background-color: map.get(theme.$primary-palette, 20),
    calendar-header-text-color: map.get(theme.$primary-palette, 80),
    calendar-period-button-text-color: map.get(theme.$primary-palette, 80),
    calendar-container-text-color: map.get(theme.$primary-palette, 80),
    calendar-date-text-color: map.get(theme.$primary-palette, 80),
  ));
}